

<form [formGroup]="formulario">
 
 
  <div class="container">
  <div class="row">
    <div class="col-5">
    <div class="form-group" >
      
      <label for="validationServer01" class="form-label">Nome do usuario</label>
      <input type="text" class="form-control"   formControlName="Nome" [ngClass]="utilizarCSSError('Nome')">
    
    <div id="validationServerUsernameFeedback" class="invalid-feedback">
      Campo Obrigatorio

    </div>
    <div class="valid-feedback">
      Campo OK
    </div>
    </div>
 </div>
  </div>
 

 
  <div class="row">
    <div class="col-5">

    <div class="form-group">
              <label for="validationServer01" class="form-label">Senha</label>
      <input type="text" class="form-control" formControlName="Senha" [ngClass]="utilizarCSSError('Senha')">
    
    <div id="validationServerUsernameFeedback" class="invalid-feedback">
      Campo Obrigatorio

    </div>
    <div class="valid-feedback">
      Campo OK
    </div>
    </div>
  </div>
  </div>
  
 

 
  <div class="row">
    <div class="col-5">
    <div class="form-group">
      <label for="validationServer01" class="form-label">Grupo</label>
        <input type="text" class="form-control"  formControlName="Grupo" [ngClass]="utilizarCSSError('Grupo')"  >
      
      <div id="validationServerUsernameFeedback" class="invalid-feedback">
        Campo Obrigatorio
      </div>
      <div class="valid-feedback">
        Campo OK
      </div>
    </div>
  </div>
 
 </div>
  </div>
  
 

    <button type="submit" class="btn btn-primary" (click)="createUser()">Criar Usuario</button>
  </form>