<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Descrição</th>
        <th scope="col">ServicosContratados</th>
        <th scope="col">Endereco</th>
        <th scope="col">Responsavel</th>
        <th scope="col">Fone</th>
        <th scope="col">Atualizar</th>
        <th scope="col">Excluir</th>

      </tr>
    </thead>
    <tbody>
      <tr>
      
        <td>{{resultado.id}}</td>
        <td>{{resultado.Nome}}</td>
        <td>{{resultado.Descricao}}</td>
        <td>{{resultado.ServicosContratados}}</td>
        <td>{{resultado.Endereco}}</td>
        <td>{{resultado.Responsavel}}</td>
        <td>{{resultado.Fone}}</td>
        <td><button type="button" class="btn btn-warning">Atualizar</button></td>
        <td><button type="button" class="btn btn-danger">Excluir</button></td>
      </tr>
      <tr>
       
    </tbody>
  </table>