
<mat-card>
<nav  class="nav" class="navbar navbar-dark bg-primary">
 <div class="container">
 
  <div class="row">
    
    <div class="col">
      <button type="button" mat-raised-button routerLink="agendamento" 
      
      >Agendamento  <span class="material-icons">
        calendar_month
        </span>
        </button>
    
    
    </div>
    
    <div class="col">
  <button type="button" mat-raised-button routerLink="servicosprestados">Serviços Prestados 

    <span class="material-icons">
      reorder
      </span>
  </button> 
    </div>
  
    <div class="col">
    <button type="button" mat-raised-button routerLink="funcionario">Funcionarios
      <span class="material-icons">
        supervisor_account
        </span>
    </button>
  </div>

    <div class="col">
    <button type="button" mat-raised-button routerLink="clientes">Clientes  
      <span class="material-icons">
        shopping_cart_checkout
        </span>
    </button>
  </div>
    
   

    <div class="col">
      <button type="button" mat-raised-button routerLink="usuarios">Usuarios  
        <span class="material-icons">
          perm_identity
          </span>
      </button>
    </div>
  
    <div class="col">
      <app-loginsystem></app-loginsystem>
  </div>
  </div>
</div>


</nav>
<br><br>

<h2>
  SISTEMA GENCIADOR DE AGENDAMENTO DE SERVIÇOS,


 
  <br> 
  
  
  Atualização,  e exclusão de dados somente com usuario ADMIN
  

</h2>
</mat-card>