<div class="container">
<div class="row">
  <div class="col">


    

    <nav class="navbar navbar-dark bg-primary">
    <!-- Navbar content -->
    

    
    
        <nav class="navbar navbar-dark bg-primary">
          
            <div ngbDropdown class="dropdown">
              
              <button mat-fab="warn" routerLink=""  aria-label="Example icon button with a home icon">
                <mat-icon>home</mat-icon>
              </button>
              
              
            </div>
          
        
          &nbsp; &nbsp;
          <button type="button" mat-raised-button routerLink="adicionarservicos">Cadastrar</button> &nbsp; &nbsp;
          <button type="button" mat-raised-button routerLink="/servicosprestados/listarservicos">Listar (EDITAR, DELETAR)</button> &nbsp; &nbsp;
          
          
        </nav>
      
      
  </nav>
  </div>

  <br><br> <br><br>
  
  
 
</div>
</div>





  
    <div class="col-sm-12">
  
  
  
      <router-outlet></router-outlet>
    
    </div>

  