<table  class="table table-bordered">
    <thead scope="col">
    <th scope="row">Id</th><th scope="col">Nome</th><th>Cpf</th><th>endereço</th><th>Cargo</th><th>Fone</th><th>Data nascimento</th>
    </thead>
    <tbody>
        <tr>
          <th scope="row">{{FuncionarioId.id}}</th>
          <td>{{FuncionarioId.Nome}}</td>
          <td>{{FuncionarioId.Cpf}}</td>
          <td>{{FuncionarioId.Endereco}}</td>
          <td>{{FuncionarioId.Cargo}}</td>
          <td>{{FuncionarioId.Fone}}</td>
          
          <td>{{FuncionarioId.DataNascimento}}</td>

          
        </tr>
</table>