
    
     
        
      <form  [formGroup]="formulario" >
      
        ID <input  formControlName="id">
        Nome <input formControlName="Nome">
        Descricao <input  formControlName="Descricao">
        ServicosContratados <input  formControlName="ServicosContratados" >
        Endereco <input formControlName="Endereco">
        Responsavel <input  formControlName="Responsavel">
        Fone <input  formControlName="Fone">
        <button type="button" class="btn btn-warning" (click)="updateCliente()">Atualizar</button>
    
      </form>
       
    
  